1. 서울시 각 구별 cctv 수를 파악하고 인구대비 cctv 비율을 구해 순위 비교 
2. 인구대비 cctv 평균치를 확인하고 cctv가 과하게 부족한 구를 확인
3. 고령자 대비 cctv 수 확인
4. 외국인 대비 cctv 수 확인

- 필요한 데이터
- 서울시 지자체별 cctv 현황 data
- 서울시 지자체별 인구 현황 data

교재 23쪽

In [10]:
# 데이터 분석을 위해서는 반드시 패키지를 import 해야 함
# pandas(데이터 분석), numpy(수치분석) 패키지
# 패키지는 관련 함수 모임
# import 패키지명 -- 패키지명이 길 경우 별명을 생성해서 쓸 수 있다.
# import 패키지명 as 별명

import pandas as pd
import numpy as np

In [12]:
# 데이터 파일 읽어오기
# 01. CCTV_in_Seoul.csv (파일명은 다르면 안된다. 띄어쓰기 주의 할 것)
# 한글 포함여부에 따라 옵션이 달라진다.
# 한글 포함 시 encoding 방식을 지정해 줘야 함
# utf-8 방식이  있고 : utf-8
# euc-kr 방식 있음 : ansi 방식

# 외부 파일 읽어올 때 경로가 중요(상대 경로 사용이 원칙)
# 사용 data는 내문서\data\
# 코드 파일은 내문서\1021\코드
# '../data/01. CCTV_in_Seoul.csv'
CCTV_seoul = pd.read_csv('../data/01. CCTV_in_Seoul.csv', encoding='utf-8')
#데이터 확인하기 위해서 위 5중 출력
CCTV_seoul.head()#데이터프레임형태로 출력

   기관명    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

In [13]:
# head() 함수 : 데이터프레임의 데이터를 위에서부터 지정된 숫자 만큼 출력
CCTV_seoul.head() #5줄 출력
CCTV_seoul.head(5) #매개변수로 전달된 숫자만큼 출력
CCTV_seoul.tail() # 마지막 5줄 출력(반환)
CCTV_seoul.tail(10) # 마지막 10줄 출력(반환)

     기관명    소계  2013년도 이전  2014년  2015년  2016년
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [16]:
# read_csv() 함수는 csv 파일을 읽어와서 데이터프레임 형태로 저장
# 데이터 프레임은 세로 데이터의 제목인 컬럼명이 있고
# 가로 데이터를 구분하는 인덱스를 갖고 있다.

# 데이터프레임의 컬럼명으로 컬럼을 접근하기 때문에 의미있는 컬럼명으로 사용
# 컬럼명만 출력
CCTV_seoul.columns

Index(['기관명', '소계', '2013년도 이전', '2014년', '2015년', '2016년'], dtype='object')

In [18]:
# 컬럼명을 의미있게 변경
# rename 함수 사용 : df.rename(columns={바꿀위치:새로운이름값})
# 기관명 -> 구별
CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:'구별'})

      구별    소계  2013년도 이전  2014년  2015년  2016년
0    강남구  2780       1292    430    584    932
1    강동구   773        379     99    155    377
2    강북구   748        369    120    138    204
3    강서구   884        388    258    184     81
4    관악구  1496        846    260    390    613
5    광진구   707        573     78     53    174
6    구로구  1561       1142    173    246    323
7    금천구  1015        674     51    269    354
8    노원구  1265        542     57    451    516
9    도봉구   485        238    159     42    386
10  동대문구  1294       1070     23    198    579
11   동작구  1091        544    341    103    314
12   마포구   574        314    118    169    379
13  서대문구   962        844     50     68    292
14   서초구  1930       1406    157    336    398
15   성동구  1062        730     91    241    265
16   성북구  1464       1009     78    360    204
17   송파구   618        529     21     68    463
18   양천구  2034       1843    142     30    467
19  영등포구   904        495    214    195    373
20   용산구  1624       1368    218    112    398
21   은평구  1873       1138    224    278    468
22   종로구  1002        464    314    211    630
23    중구   671        413    190     72    348
24   중랑구   660        509    121    177    109

In [20]:
# rename 함수는 원본을 변경하지 않는다. 옵션 inplace = False 로 되어 있기 때문에
CCTV_seoul.rename(columns={CCTV_seoul.columns[0]:'구별'}, inplace = True)
CCTV_seoul.head()

    구별    소계  2013년도 이전  2014년  2015년  2016년
0  강남구  2780       1292    430    584    932
1  강동구   773        379     99    155    377
2  강북구   748        369    120    138    204
3  강서구   884        388    258    184     81
4  관악구  1496        846    260    390    613

서울시 인구 현황 가져오기 - 엑셀 파일 읽기

In [30]:
pop_Seoul = pd.read_excel('../data/01. population_in_Seoul.xls', 
                        header = 2, #두 행 skip,
                        usecols = 'B,D,G,J,N', #선택 열만 가져오기
                        encoding='utf-8')

In [32]:
pop_Seoul.head()

,기간,자치구,세대,인구,인구.1,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

In [33]:
컬럼명 변경 => 0:구별 1:인구수 2:한국인 3:외국인 4:고령자

SyntaxError: invalid syntax (<ipython-input-33-7c930ed813ef>, line 1)

In [35]:
pop_Seoul.rename(columns ={pop_Seoul.columns[0]:'구별',
                           pop_Seoul.columns[1]:'인구수',
                           pop_Seoul.columns[2]:'한국인',
                           pop_Seoul.columns[3]:'외국인',
                           pop_Seoul.columns[4]:'고령자'}, inplace=True)
pop_Seoul.head()

,구별,인구수,한국인,외국인,고령자,인구.2,인구.3,인구.4,인구.5,인구.6,인구.7,인구.8,세대당인구,65세이상고령자
0,기간,자치구,세대,합계,합계,합계,한국인,한국인,한국인,등록외국인,등록외국인,등록외국인,세대당인구,65세이상고령자
1,기간,자치구,세대,계,남자,여자,계,남자,여자,계,남자,여자,세대당인구,65세이상고령자
2,2017.1/4,합계,4202888,10197604,5000005,5197599,9926968,4871560,5055408,270636,128445,142191,2.36,1321458
3,2017.1/4,종로구,72654,162820,79675,83145,153589,75611,77978,9231,4064,5167,2.11,25425
4,2017.1/4,중구,59481,133240,65790,67450,124312,61656,62656,8928,4134,4794,2.09,20764

# CCTV 데이터 파악하기
설치대 대수가 작은 5개 구는 어디인가? - 소계가 총 설치대수 이므로 소계를 기준으로 sort한다.
정렬 함수 sort_values(by='기준열이름', ascending=True) : 오름차순 정렬

In [38]:
CCTV_seoul.sort_values(by='소계',ascending=True).head()

     구별   소계  2013년도 이전  2014년  2015년  2016년
9   도봉구  485        238    159     42    386
12  마포구  574        314    118    169    379
17  송파구  618        529     21     68    463
24  중랑구  660        509    121    177    109
23   중구  671        413    190     72    348

In [40]:
# CCTV 대수가 많은 5개 구는 어디인가?
# 소계를 기준으로 내림차순 정렬
CCTV_seoul.sort_values(by='소계',ascending=False).head()

     구별    소계  2013년도 이전  2014년  2015년  2016년
0   강남구  2780       1292    430    584    932
18  양천구  2034       1843    142     30    467
14  서초구  1930       1406    157    336    398
21  은평구  1873       1138    224    278    468
20  용산구  1624       1368    218    112    398